.search-form {
  @extend %flex-centered;
  gap: 8px;
  margin-bottom: 32px;
  &__input {
    box-sizing: border-box;
    outline: none;
    border-radius: 4px;
    width: 272px;
    height: 40px;
    padding: 8px 16px;
    font: inherit;
    border-color: $primary-text-color;
    color: $primary-text-color;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__btn {
    width: 91px;
    height: 40px;
  }
  &__input:hover {
    border-color: $active-color;
  }
  &__input:focus {
    border-color: $primary-color;
  }
}
